/* Ini CSS Eksternal */

/* Style umum */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: cornsilk;
}

html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.main-header > h1 {
    margin: 0px;
    background-color: aquamarine;
    padding: 24px;
    text-align: center;
}

.nav-fitur {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*Button pilihan persegi atau persegi panjang*/
.nav-fitur button {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    cursor: pointer;
    width: 50%;
}

.nav-fitur-active {
    background-color: cornflowerblue;
    color: white;
    align-self: center;
}

.nav-fitur-non-active {
    background-color: darkcyan;
    color: white;
    align-self: center;
}

/*Kolom input angka*/
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.input-group input {
    width: 100px; /* Lebar input lebih kecil */
    padding: 8px;
    text-align: center;
    align-content: center;
    font-size: 16px;
}

.input-group-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Jarak antar input */
    flex-wrap: wrap; /* Agar tetap rapi di layar kecil */
}

/* Set input agar memiliki lebar yang cukup */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Gambar Persegi & Persegi Panjang*/
.section-image {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.persegi {
    background-image: url("../assets/Persegi.png");
}

.persegi-panjang {
    background-image: url("../assets/PersegiPanjang.png");
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

/*Footer*/
footer {
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Responsive */
@media only screen and (max-width: 400px) {
    .nav-fitur {
        display: flex;
        flex-direction: column;
    }

    .input-group-wrapper {
        flex-direction: column;
    }
}
